@font-face {
  font-family: "DomaineDisplayNarrowWeb";
  src: local("DomaineDisplayNarrowWeb"),
    url(./fonts/DomaineDisplayNarrowWeb-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "HalyardDisplay-Regular";
  src: local("HalyardDisplay-Regular"),
    url(./fonts/HalyardDisplay-Regular.woff2) format("woff2");
}

body {
  margin: 0;
  min-width: 320px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
